---
---


body {
  max-width: 800px;
  margin: auto;
  padding-left: 10px;
  padding-right: 10px;
  background-color: #ffffff;
  color: #111111;
  font-family: "IBM Plex Sans", sans-serif;
}

/* Default settings */
a {
  text-decoration: none;
}
a:visited {
  color: inherit;
}

.content a {
  color: inherit;
  /* text-decoration: underline; */
}
.content a:hover {
  color: #3f72af;
}

.content img {
  max-width: 800px;
  height: auto;
}

.title-name {
  padding-top: 8px;
  padding-bottom: 12px;
}

.nav_links a {
  padding-right: 40px;
}


/* About page */

.about_section {
  padding-top: 10px
}


/* Contatct Page */

.contact_links a {
  padding-right: 25px;
  vertical-align: middle;  
}

.contact_links img {
  height: 25px;
  vertical-align: middle;
}
