<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>

    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@300&display=swap" rel="stylesheet"> 
    <link rel="stylesheet" href="/assets/styles.css">

  </head>
  
  <body>
    <!-- External Profiles -->
    <div class="profiles">
      <a href="https://www.linkedin.com/in/lucaf-muc/">Linkedin</a>
      <a href="https://lucafrance.medium.com/">Medium</a>
      <a href="https://github.com/lucafrance">Github</a>
      <a href="https://jovian.ai/lucafrance">Jovian</a>
    </div>
    
    <!-- Header -->
    <div class="site-title">
      <h1>Luca Franceschini</h1>
    </div>
    
    <!-- Content -->
    <div class="content">
      {{ content }}
    </div>
    
  </body>
</html>